.main-container {
  width: 100%;
  max-width: 1000px;
  margin-inline: auto;
}

@media (max-width: $break-wide) {
  .main-container {
    padding-inline-start: 20px;
    padding-inline-end: 20px;
  }
}
